<h3>{% trans "Documents" %}</h3>
	    {% if not map.document_set.all|length_is:'0' %}
            <p>{% trans "Available documents related to this map" %}</p>
            <ul>
                {% for document in map.document_set.all %}
                    <li>Format: <strong>{{ document.type }}</strong> ,  Title: <a href='{% url documents.views.documentdetail  document.id %}'>{{ document }}</a></li>
                {% endfor %}
            </ul>
		{% else %}
		    <p>{% trans "No documents available for this map" %}</p>
        {% endif %}
			<a href="{% url documents.views.upload_document map.id %}">Upload a new document</a><br /><br />