{% extends "../../../GeoNodePy/geonode/templates/page_layout.html" %}
{% load i18n %}

{% block nav %}
    <ul id="sitenav" class="selfclear">
        <li class="home"><a href="{% url geonode.views.index %}">{% trans "Home" %}</a></li>
        <li class=""><a class="" id="dataLink" href="{% url geonode.maps.views.browse_data %}">{% trans "Data" %}</a></li>
        <li class=""><a class="" id="mapsLink" href="{% url geonode.maps.views.maps %}">{% trans "Maps" %}</a></li>
	    <li class=""><a class="" id="documentLink" href="{% url documents.views.documents_search_page %}">{% trans "Documents" %}</a></li>
    {% if user.is_authenticated %}
        <li class=""><a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "Profile" %}</a></li>
    {% if user.is_staff %}
        <li class=""><a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}

    {% endif %}
    </ul>
{% endblock %}