
{% block head %}
	{% include "geonode/ext_header.html" %}
	{% include "geonode/app_header.html" %}
	{% include "geonode/geo_header.html" %}
	<link rel="stylesheet" type="text/css"
		  href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>

{% endblock %}

{% block main %}

	<div id="header-wrapper">
	</div>

	<script type="text/javascript">
		Ext.onReady(function() {
			{% autoescape off %}

			var viewerConfig = {
				proxy: '/proxy/?url=',
				rest: '/maps/',
				localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
				homeUrl: "{% url geonode.views.index %}"

			};

			viewerConfig = Ext.apply(viewerConfig, {{ config }});

			app = new GeoExplorer(viewerConfig);
			app.on('saved',function(){
				parent.refreshMaps();
			});

			{% endautoescape %}
		});
	</script>
{% endblock %}