{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {% include "geonode/geo_header.html" %}
	<link rel="stylesheet" type="text/css"
          href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>

{% endblock %}

{% block main %}
	<div id="header-wrapper">
	</div>
	<script type="text/javascript">
		var app;
		Ext.onReady(function() {
		{% autoescape off %}
    		var config = Ext.apply({
       		 
        		proxy: "/proxy/?url=",

        		/* The URL to a REST map configuration service.  This service 
         		* provides listing and, with an authenticated user, saving of 
         		* maps on the server for sharing and editing.
         		*/
        		rest: "/maps/",
        		homeUrl: "{% url home %}",
        		localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        		localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
        		csrfToken: "{{ csrf_token }}",
    		}, {{ config }});

    		app = new GeoExplorer(config);
			app.on('saved',function(){
				parent.refreshMaps();
			});

			{% endautoescape %}
		});
	</script>
{% endblock %}